<h1>5 most rated Restaurants</h1>
<h1> hello to all</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li> See details <%= link_to restaurant.name , restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<%= link_to 'Add a new Restaurant ?', new_restaurant_path, class: 'btn btn-primary' %>
